.background {
    background-color: #ffffff;
    opacity: 0.2;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#0561FC 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #0561FC 1.4000000000000001px, #ffffff 1.4000000000000001px) -0.7000000000000001px 0;
    background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}

