<main class="w-screen h-screen pt-20 pb-14 pl-[272px] p-8 bg-cinza-100 flex flex-col gap-4 z-10">
    <div class="flex items-center justify-between">
        <p class="text-2xl text-cinza-400 font-bold">Lista de Produtos</p>
        <app-input texto="Cód. do Produto"></app-input>
    </div>
    <div class="w-full h-full flex flex-col items-center p-4 gap-4 bg-white rounded-xl shadow-padrao border relative">
        <ng-template #elseBlock>
            <div class="mx-auto my-auto flex flex-col items-center gap-4">
                <fa-icon [icon]="faFaceSadTear" class="text-cinza-400 text-3xl"></fa-icon>
                <p class="text-cinza-400 text-sm">Nenhum produto foi cadastrado ainda.</p>
            </div>
        </ng-template>
        <table *ngIf="produtos?.length; else elseBlock" class="table-auto text-center w-full">
            <tr class="text-sm text-white bg-roxo">
                <td>Selec.</td>
                <td>Dt. de Criação</td>
                <td>Código</td>
                <td>Nome</td>
                <td>Categoria</td>
                <td>Descrição</td>                
                <td>Valor Unit.</td>
                <td>Ações</td>
            </tr>
            <tr *ngFor="let produto of produtos" class="text-sm text-cinza-600 font-medium">
                <td>
                    <input type="checkbox" name="" id="">
                </td>
                <td>{{ produto.dataCriacao }}</td>
                <td>{{ produto.idProduto }}</td>
                <td>{{ produto.nomeProduto }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.valUnitario }}</td>
                <td class="flex items-center gap-4 justify-center">
                    <button class="p-1" (click)="abrirDialogoExcluir()">
                        <fa-icon [icon]="faTrash" class="hover:text-vermelho transition-all delay-75 ease-in"></fa-icon>
                    </button>
                    <button class="p-1">
                        <fa-icon [icon]="faEdit" class="hover:text-verde transition-all delay-75 ease-in"></fa-icon>
                    </button>
                </td>
            </tr>
        </table>
        <app-main-button class="absolute bottom-4 right-4" textoExibir="Deletar Selec." bgCor="bg-vermelho" textoCor="text-white"></app-main-button>
    </div>
</main>

<app-popup-excluir [popUpExcluirOpen]=openPopUpExcluir (popUpExcluirClose)="fecharDialogoExcluir()"></app-popup-excluir>