<div class="w-full flex flex-col items-center p-4 gap-4 bg-white rounded-xl shadow-padrao">
    <div>
        <p class="text-sm text-cinza-400">Detalhes do Produto</p>
    </div>
    <div class="flex flex-col items-center gap-10 my-auto">
        <div class="flex flex-col items-center">
            <p class="text-4xl text-azul">OB2455</p>
            <p class="text-xs text-cinza-400">Cód. do Produto</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-cinza-600 text-2xl font-medium">Biscoito de Leite</p>
            <p class="text-xs text-cinza-400">Descrição</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-cinza-600 text-2xl font-medium">R$ 1,50</p>
            <p class="text-xs text-cinza-400">Valor Unitário</p>
        </div>
    </div>
</div>
