<div class="w-full h-full flex flex-col items-center p-4 gap-4 bg-white rounded-xl shadow-padrao border">
    <div>
        <p class="text-sm text-cinza-400">Detalhes do Produto</p>
    </div>
    <div *ngIf="produtoDetalhe && !error" class="flex flex-col items-center short:gap-8 gap-10 my-auto">
        <div class="flex flex-col items-center">
            <p class="text-xs text-cinza-400">Cód. do Produto</p>
            <p class="text-4xl short:text-3xl text-azul">{{ produtoDetalhe.idProduto }}</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-xs text-cinza-400">Título</p>
            <p class="text-cinza-600 text-2xl short:text-xl font-medium">{{ produtoDetalhe.nomeProduto }}</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-xs text-cinza-400">Categoria</p>
            <p class="text-cinza-600 text-2xl short:text-xl font-medium">{{ produtoDetalhe.categoria }}</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-xs text-cinza-400">Valor Unitário</p>
            <p class="text-cinza-600 text-2xl short:text-xl font-medium">{{ produtoDetalhe.valUnitario}}</p>
        </div>
    </div>
    <div *ngIf="error && msgRetorno" class="my-auto flex flex-col items-center gap-2">
        <fa-icon [icon]="faCircleExclamation" class="text-3xl text-vermelho"></fa-icon>
        <p class="my-auto text-center text-vermelho">{{ msgRetorno }}</p>
    </div>
    <p *ngIf="!produtoDetalhe && !error" class="my-auto text-center text-cinza-400">Digite o código do produto acima e aperte o botão da lupa <fa-icon [icon]="faMagnifyingGlass"></fa-icon> para pesquisar.</p>
</div>
