<div class="w-[381px] flex flex-col items-center p-4 gap-4 bg-white rounded-xl shadow-xl">
    <div>
        <p class="text-base text-cinza">Detalhes do Produto</p>
    </div>
    <div class="flex flex-col items-center gap-10 my-auto">
        <div class="flex flex-col items-center">
            <p class="text-[52px] text-azul">OB2455</p>
            <p class="text-sm text-cinza">Cód. do Produto</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-[28px] font-medium">Biscoito de Leite</p>
            <p class="text-sm text-cinza">Descrição</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-[28px] font-medium">R$ 1,50</p>
            <p class="text-sm text-cinza">Valor Unitário</p>
        </div>
    </div>
</div>
