<div class="w-full h-full flex flex-col items-start p-4 gap-4 bg-white rounded-xl shadow-padrao border">
    <p class="text-xl font-medium">Vendas de Hoje</p>
    <div class="flex items-center gap-4">
        <div class="bg-red-200 p-4 flex flex-col items-center gap-2 rounded-lg">
            <span class="bg-vermelho w-10 h-10 flex flex-col items-center justify-center rounded-full">
                <fa-icon [icon]="faDollarSign" class="text-xl text-branco"></fa-icon>
            </span>
            <p class="text-xl font-bold text-roxo">R$30,00</p>
            <p class="text-sm font-medium">Total Vendido</p>
        </div>
        <div class="flex-1 bg-lime-200 p-4 flex flex-col items-center gap-2 rounded-lg">
            <span class="bg-verde w-10 h-10 flex flex-col items-center justify-center rounded-full">
                <fa-icon [icon]="faSheetPlastic" class="text-xl text-branco"></fa-icon>
            </span>
            <p class="text-xl font-bold text-roxo">5</p>
            <p class="text-sm font-medium">Nº de Vendas</p>
        </div>
        <div class="bg-amber-200 p-4 flex flex-col items-center gap-2 rounded-lg">
            <span class="bg-amarelo w-10 h-10 flex flex-col items-center justify-center rounded-full">
                <fa-icon [icon]="faTag" class="text-xl text-branco"></fa-icon>
            </span>
            <p class="text-xl font-bold text-roxo">10</p>
            <p class="text-sm font-medium">Total Produtos</p>
        </div>
    </div>
</div>
