<div class="w-full h-full flex flex-col items-start p-4 gap-4 bg-white rounded-xl shadow-padrao border">
    <p class="">Vendas de Hoje</p>
    <div class="flex items-center gap-2">
        <div class="w-full h-full bg-red-200 p-2 flex flex-col items-start rounded-lg">
            <span class="bg-vermelho py-1 px-2 rounded-full">
                <fa-icon [icon]="faDollarSign" class="text-xl text-branco"></fa-icon>
            </span>
            <p>R$30,00</p>
            <p>Total vendido</p>
        </div>
        <div class="w-full h-full bg-lime-200 p-2 flex flex-col items-start rounded-lg">
            <span class="bg-verde py-1 px-2 rounded-full">
                <fa-icon [icon]="faSheetPlastic" class="text-xl text-branco"></fa-icon>
            </span>
            <p>R$30,00</p>
            <p>Vendas no total</p>
        </div>
        <div class="w-full h-full bg-orange-200 p-2 flex flex-col items-start rounded-lg">
            <span class="bg-amarelo py-1 px-2 rounded-full">
                <fa-icon [icon]="faTag" class="text-xl text-branco"></fa-icon>
            </span>
            <p>R$30,00</p>
            <p>Produtos vendidos</p>
        </div>
    </div>
</div>
