<main class="w-full h-screen pt-20 pb-14 pl-[272px] pr-8 bg-cinza-100 flex flex-col gap-4 z-10">
    <div class="flex flex-col gap-4">
        <div class="w-full h-full flex flex-col items-center p-4 gap-4 bg-white rounded-xl shadow-padrao border">
            <p class="text-xl font-bold">{{mensagemCompleta}}</p>
            <p class="text-lg">O que gostaria de fazer hoje?</p>
            <div class="flex items-center gap-4">
                <app-main-button routerLink="/vender" bgCor="bg-branco" textoCor="text-azul" textoExibir="Fazer uma venda" borda="border border-azul"></app-main-button>
                <app-main-button routerLink="/historico" bgCor="bg-branco" textoCor="text-azul" textoExibir="Consultar vendas" borda="border border-azul"></app-main-button>
                <app-main-button routerLink="/produtos/listar" bgCor="bg-branco" textoCor="text-azul" textoExibir="Listar os produtos" borda="border border-azul"></app-main-button>
                <app-main-button routerLink="/produtos/cadastrar" bgCor="bg-branco" textoCor="text-azul" textoExibir="Cadastrar um produto" borda="border border-azul"></app-main-button>
            </div>
        </div>
        <app-vendas-hoje></app-vendas-hoje>
    </div>
</main>
