<div class="w-full h-full flex flex-col items-start p-4 gap-4 bg-white rounded-xl shadow-padrao border">
    <p class="text-xl font-bold">Últimas Vendas</p>
    <table class="table-auto w-full">
        <thead class="bg-roxo">
          <tr class="text-sm text-left text-branco">
            <th>ID</th>
            <th>Data</th>
            <th>Qtd. Itens</th>
            <th>Cliente</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-sm text-left">
            <td>p003-a3e-222</td>
            <td>21/12/2022</td>
            <td>1</td>
            <td>Doralice dos Santos</td>
          </tr>
        </tbody>
      </table>
</div>
