<nav class="w-full h-14 bg-branco px-8 flex items-center justify-between fixed top-0 right-0 left-0 z-50">
    <div>
        <img src="./assets/goPDVlogo.png" alt="goPDV logo" class="h-12">
    </div>
    <div class="flex items-center gap-2">
        <img src="./assets/sidebar/avatar.png" alt="" class="h-8">
        <div class="flex items-center gap-2">
            <p class="text-sm font-bold text-cinza-600">Juliano Yang</p>
            <fa-icon [icon]="faChevronDown" class="text-sm"></fa-icon>
        </div>
    </div>
</nav>
