<nav class="w-full h-14 bg-branco px-8 flex items-center justify-between fixed top-0 right-0 left-0 shadow-padrao z-50">
    <div>
        <img src="./assets/goPDVlogo.png" alt="goPDV logo" class="h-12">
    </div>
    <div routerLinkActive="active" (click)="toggleMenuContexto()" class="flex items-center gap-2 py-1 px-2 rounded-xl cursor-pointer hover:bg-gray-200 active:bg-gray-400">
        <img src="./assets/sidebar/avatar.png" alt="" class="h-8">
        <div class="flex items-center gap-2">
            <p class="text-sm font-medium text-cinza-600">Juliano Yang</p>
            <fa-icon [icon]="faChevronDown" class="text-sm"></fa-icon>
        </div>
    </div>
    <div *ngIf="menuContextoIsOpen" class="w-40 bg-branco mt-36 mr-8 py-1 px-4 flex flex-col gap-2 rounded-xl shadow-padrao border absolute right-0 z-50">
        <div>
            <a href="" class="text-sm text-cinza-600 hover:font-medium">Ver Perfil</a>
        </div>
        <div>
            <a href="" class="text-sm text-cinza-600 hover:font-medium">Sair</a>
        </div>
    </div>   
</nav>
