<aside class="w-[300px] h-screen border flex flex-col pl-16 py-12 items-start relative">
    <div class="mb-14">
        <div class="w-[177px] h-[46px] bg-slate-400 flex items-center justify-center">
            <p class="text-base font-bold">Logo</p>
        </div>
    </div>
    <div class="flex flex-col items-start gap-6">
        <div class="flex items-center gap-4">
            <img src="./assets/sidebar/inicio.png" alt="Início">
            <p class="text-base text-[#bbc2c5]">Início</p>
        </div>
        <div class="flex items-center gap-4">
            <img src="./assets/sidebar/vender.png" alt="Vender">
            <p class="text-base text-[#bbc2c5]">Vender</p>
        </div>
        <div class="flex items-center gap-4">
            <img src="./assets/sidebar/historico.png" alt="Histórico">
            <p class="text-base text-[#bbc2c5]">Histórico</p>
        </div>
        <div class="flex items-center gap-4">
            <img src="./assets/sidebar/produtos.png" alt="Produtos">
            <p class="text-base text-[#bbc2c5]">Produtos</p>
        </div>
    </div> 
    <div class="flex items-center gap-4 w-full absolute bottom-10">
        <img src="./assets/sidebar/avatar.png" alt="">
        <div class="flex flex-col">
            <p class="text-base font-bold">Juliano Yang</p>
            <p class="text-sm text-[#bbc2c5]">Vendedor</p>
        </div>
    </div>
</aside>
