<div class="bg-white py-4 px-8 short:px-4 flex justify-between gap-8 rounded-2xl shadow-padrao border">
        <div class="flex flex-col items-start justify-center gap-2">
            <div class="flex gap-4 items-center">
                <p class="w-16 text-sm text-cinza-400 font-medium">Itens:</p>
                <p *ngIf="totalItens; else itensZerado" class="text-cinza-400 text-sm font-medium">{{ totalItens }}</p>
                <ng-template #itensZerado>
                    <p class="text-cinza-400 text-sm font-medium">0</p>
                </ng-template>
            </div>
            <div class="flex gap-4 items-start">
                <p class="w-16 text-sm text-cinza-400 font-medium">Subtotal:</p>
                <p *ngIf="totalPreco; else precoZerado" class="text-cinza-600 text-2xl font-medium">{{ totalPreco | currency: 'BRL' }}</p>
                <ng-template #precoZerado>
                    <p class="text-cinza-600 text-2xl font-medium">R$0,00</p>
                </ng-template>
            </div>
        </div>
        <div class="w-1 h-18 bg-cinza-400"></div>
        <div class="flex items-center gap-4">
            <div class="h-full flex flex-col justify-center gap-2">
                <div class="flex gap-4">
                    <p class="text-sm text-cinza-400 font-medium">Recebido:</p>
                    <input type="text" placeholder="0,00" [(ngModel)]="troco" class="text-xl w-full outline-none">
                </div>
                <button (click)="calculaTroco()" class="px-2 py-1 bg-azul group-hover:brightness-90 flex items-center justify-center gap-2 transition-all ease-in-out delay-75 rounded-lg shadow-padrao">
                    <fa-icon [icon]="faCalculator" class="text-sm text-white"></fa-icon>
                    <p class="text-xs font-bold text-branco group-hover:brightness-90 transition-all ease-in-out delay-75">Calcular troco</p>
                </button>
            </div>
            <div class="w-full h-full flex flex-col items-center justify-center gap-2 rounded-lg">
                <p class="text-sm text-cinza-400 font-medium">Troco:</p>
                <p *ngIf="trocoRecebido; else trocoZerado" class="text-2xl font-medium">{{ trocoRecebido | currency: 'BRL'}}</p>
                <ng-template #trocoZerado>
                    <p class="text-2xl font-medium">R$0,00</p>
                </ng-template>
            </div>
        </div>
        <div class="w-1 h-18 bg-cinza-400"></div>
        <div class="flex flex-col gap-1">
            <app-main-button textoExibir="Finalizar" textoCor="text-branco" bgCor="bg-verde"></app-main-button>
            <app-main-button textoExibir="Cancelar" textoCor="text-branco" bgCor="bg-vermelho"></app-main-button>
        </div>
</div>