<div class="bg-white py-4 px-8 flex items-center rounded-2xl shadow-padrao">
    <div class="flex gap-8">
        <div class="flex flex-col gap-2 align-top">
            <p class="text-base text-cinza-400 font-medium">Subtotal</p>
            <p class="text-cinza-600 text-4xl font-medium px-8">3,00</p>
        </div>
        <div class="w-[1px] h-[86px] bg-cinza-400"></div>
        <div class="flex gap-2 align-top">
            <div class="flex flex-col gap-2 align-top">
                <p class="text-base text-cinza-400 font-medium">Total Recebido:</p>
                <p class="text-base text-cinza-400 font-medium">Troco:</p>
            </div>
            <div class="flex flex-col gap-2 align-top">
                <input type="text" placeholder="0,00" class="px-1 text-3xl w-20 outline-none">
            <p class="text-cinza-600 text-3xl font-medium">2,00</p>
            </div>
            <div>
                <button class="px-2 py-1 bg-azul rounded-lg shadow-lg">
                    <fa-icon [icon]="faCalculator" class="text-xl text-white"></fa-icon>
                </button>
            </div>
    </div>
</div>
