<div *ngFor="let venda of vendas" class="w-full px-8 py-4 mb-4 rounded-xl bg-white flex items-center gap-10 shadow-padrao border">
    <div class="flex flex-col items-center gap-2">
        <p class="text-3xl text-cinza-600 font-medium">{{ venda.valorTotal | currency: 'BRL' }}</p>
        <div class="w-52 bg-azul text-xs text-white text-center font-bold overflow-hidden truncate py-1 px-2 rounded-2xl">{{ venda.idVenda }}</div>
    </div>
    <div class="w-[1px] h-[86px] bg-cinza-400"></div>
    <div class="flex-1">
        <table>
            <tr>
                <td class="pr-4">
                    <p class="text-sm text-cinza-400">Data:</p>
                </td>
                <td>
                    <p class="text-sm text-cinza-600 font-bold">{{ venda.dataCriacao | date: 'dd/MM/yyyy, hh:mm' }}</p>
                </td>
            </tr>
            <tr>
                <td class="pr-4">
                    <p class="text-sm text-cinza-400">Quantidade:</p>
                </td>
                <td>
                    <p class="text-sm text-cinza-600 font-bold">{{ venda.carrinho.length }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-sm text-cinza-400">Cliente:</p>
                </td>
                <td>
                    <p class="text-sm font-bold text-vermelho">{{ venda.nomeCliente }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-sm text-cinza-400">Telefone:</p>
                </td>
                <td>
                    <p class="text-sm text-cinza-600 font-bold">{{ venda.telefone }}</p>
                </td>
            </tr>
        </table>
    </div>
</div>
