<div class="w-full h-[128px] p-6 rounded-xl bg-white flex items-center gap-10 shadow-padrao">
    <div class="flex flex-col items-center gap-4">
        <p class="text-4xl font-medium">R$3,00</p>
        <div class="bg-[#0561FC] text-sm text-white text-center font-bold py-1 px-20 rounded-2xl">p003-a3e-222</div>
    </div>
    <div class="w-[1px] h-[86px] bg-[#93A3AB]"></div>
    <table>
        <tr>
            <td class="pr-4">
                <p class="text-base text-[#93A3AB]">Quantidade:</p>
            </td>
            <td>
                <p class="text-base font-bold">1</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-base text-[#93A3AB]">Itens:</p>
            </td>
            <td>
                <p class="text-base font-bold text-[#C56565]">Biscoito de Leite...</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-base text-[#93A3AB]">Cliente:</p>
            </td>
            <td>
                <p class="text-base font-bold">Doralice dos Santos</p>
            </td>
        </tr>
    </table>
</div>
