<main class="w-screen h-screen pt-20 pb-14 pl-[272px] pr-8 bg-cinza-100 flex flex-col gap-4 z-10">
    <div class="w-full h-full flex gap-4">
        <div class="h-full w-5/12 flex flex-col gap-4">
            <app-input (produtoFiltrado)="produtoFiltradoReceiver($event)" texto="Cód. do Produto"></app-input>
            <app-detalhes-do-produto [produtoDetalhe]="produtoPesquisa" [msgRetorno]="msgRetorno" [error]="error" class="flex-1"></app-detalhes-do-produto>
            <div class="w-full flex items-center justify-between gap-8">
                <app-input-quantidade (totalContador)="quantidadeReceiver($event)"></app-input-quantidade>
                <app-button-icon (click)="adicionarAoCarrinho()" textoExibicao="Adicionar" cor="azul" class="flex-1"></app-button-icon>
            </div>
        </div>
        <div class="h-full w-full flex flex-col gap-4">
            <app-lista-de-produtos [lista]="carr" [reset]="exibeResetCarrinho" (apagaLista)="esvaziaReceiver($event)" class="flex-1"></app-lista-de-produtos>
            <app-finalizar [totalPreco]="totalPreco" class="flex-2"></app-finalizar>
        </div>
    </div>
</main>