<main class="w-screen h-screen pt-20 pb-14 pl-[272px] pr-8 bg-cinza-100 flex flex-col gap-4 z-10">
    <div class="w-full h-full flex gap-4">
        <div class="h-full w-5/12 flex flex-col gap-4">
            <app-input (produtoFiltrado)="produtoFiltradoReceiver($event)" texto="Cód. do Produto"></app-input>
            <app-detalhes-do-produto [produtoDetalhe]="produtoPesquisa" [msgRetorno]="msgRetorno" [error]="error" class="flex-1"></app-detalhes-do-produto>
            <div class="w-full flex items-center justify-between gap-8">
                <app-input-quantidade [quantidadeInput]="quantidadeInput" (totalContador)="quantidadeReceiver($event)"></app-input-quantidade>
                <app-button-icon (click)="adicionarAoCarrinho()" textoExibicao="Adicionar" cor="azul" class="flex-1"></app-button-icon>
            </div>
        </div>
        <div class="h-full w-full flex flex-col gap-4">
            <app-lista-de-produtos [lista]="carr" [reset]="exibeResetCarrinho" (apagaLista)="esvaziaReceiver($event)" class="flex-1"></app-lista-de-produtos>
            <app-finalizar [totalPreco]="totalPreco" [totalItens]="totalItens" [trocoRecebido]="troco" (mandaTroco)="trocoReceiver($event)" (adicionaVenda)="adicionaVendaReceiver($event)" class="flex-2"></app-finalizar>
        </div>
    </div>
</main>

<div *ngIf="openPopUpConfirmaVenda" class="fixed top-0 right-0 left-0 bottom-0 bg-esmaecido backdrop-blur-sm flex flex-col z-50">
    <div class="my-auto mx-auto p-8 bg-white rounded-lg w-1/3 flex flex-col items-center gap-4 relative">
        <p class="text-xl font-bold text-center">Deseja finalizar a venda?</p>
        <p class="text-cinza-400 text-sm">Essa ação incluirá a venda no banco de dados.</p>
        <div class="flex items-center gap-4">
            <app-main-button textoExibir="Sim" bgCor="bg-azul" textoCor="text-branco" (click)="adicionarVenda()"></app-main-button>
            <app-main-button textoExibir="Não" bgCor="bg-vermelho" textoCor="text-branco" (click)="openPopUpConfirmaVenda = false"></app-main-button>
        </div>
        <button (click)="openPopUpConfirmaVenda = false" class="w-8 h-8 bg-gray-100 hover:bg-gray-300 transition-all ease-in-out delay-75 flex flex-col items-center justify-center rounded-full absolute top-2 right-2">
            <fa-icon [icon]="faClose"></fa-icon>
        </button>
    </div>
</div>