<main class="w-screen h-screen pt-20 pb-14 pl-[272px] pr-8 bg-branco flex flex-col gap-4 z-10">
    <p class="text-2xl text-cinza-600 font-bold">Nova Venda</p>
    <div class="w-full h-full flex gap-4">
        <div class="h-full w-5/12 flex flex-col gap-4">
            <app-input texto="Cód. do Produto"></app-input>
            <app-detalhes-do-produto class="flex-1"></app-detalhes-do-produto>
            <div class="w-full flex items-center justify-between gap-8">
                <app-input-quantidade></app-input-quantidade>
                <app-button-icon textoExibicao="Adicionar" cor="azul" class="flex-1"></app-button-icon>
            </div>
        </div>
        <div class="h-full w-full flex flex-col gap-4">
            <app-lista-de-produtos class="flex-1"></app-lista-de-produtos>
            <app-finalizar class="flex-2"></app-finalizar>
        </div>
    </div>
</main>