<div class="w-full h-full flex flex-col items-start p-4 gap-4 bg-white rounded-xl shadow-padrao border">
    <p>Produtos mais vendidos</p>
    <table class="table-auto text-center w-full h-full">
        <tr class="text-sm text-white bg-roxo">
            <td>Item</td>
            <td>Código</td>
            <td>Descrição</td>
            <td>Qtd.</td>
            <td>Valor Unit.</td>
            <td>Total</td>
            </tr>
        <tr class="p-1 text-sm text-cinza-600 font-medium">
            <td>1</td>
            <td>OB2455</td>
            <td>Biscoito de Leite</td>
            <td>2</td>
            <td>1,50</td>
            <td>3,00</td>
        </tr>
    </table>
</div>
